header {
    background-color: lightskyblue;
    text-align: left;
}
nav {
    border-bottom: 2px solid black;
}    
.sections ol {
    list-style-type: none;
    padding-left: 0;
}
.section {
    display: inline-block;
}
body {
    background-color: gray;
    text-align: center;
}
.picture-of-shoe {
    width: 450px;
}
h2 {
    font-weight: 900;
}